{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <h1>Edit entry for {{ edit_title }}</h1>

    <form action="{% url 'save_edit' %}" method="post" id="edit_form">
        {% csrf_token %}
        <br>
        <input type="hidden" name="current_entry_name" value="{{ edit_title }}">
        <textarea name="edit_entry"> {{ previous_entry_content }}</textarea>
        <br>
        <input type="submit" value="Save Edit">
    </form>

{% endblock %}